{% extends "_layouts/index" %}

{% block main %}

    <h1>These are our top Tables</h1>
    <div class="flex-container">
        {% set tables = craft.entries.section('footballTable').limit(6).all() %}
        {% for table in tables %}
            <table id="indexTable">
                <a href="{{ table.url }}">{{ table.title }}</a>
                <tr>
                    <th>Team Name</th>
                    <th>Played</th>
                    <th>Won</th>
                    <th>Drawn</th>
                    <th>Lost</th>
                </tr>
                {% for column in table.footballTable%}
                    <tr>
                        <td>
                            {{ column.teamName }}
                        </td>
                        <td>
                            {{ column.played }}
                        </td>
                        <td>
                            {{ column.won }}
                        </td>
                        <td>
                            {{ column.drawn }}
                        </td>
                        <td>
                            {{ column.lost }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>

{% endblock %}

