{% extends "_layouts/index" %}

{% block main %}

    <div class="tb-container">
        {% set dates = craft.entries.section('footballFixture').orderBy('date asc').all() %}
        <div class="wrapper">
            <input type="radio" name="select" id="option-1">
            <input type="radio" name="select" id="option-2" checked>
            <input type="radio" name="select" id="option-3">
            {% for date in dates %}
                <label for="option-{{loop.index}}" class="option option-{{loop.index}}">
                    <div>
                        {{ date.date | date('d M') }}
                    </div>
                </label>
            {% endfor %}
        </div>
    </div>
    <div class="flex-container">
        {% set fixtures = craft.entries.section('footballFixture').limit(100).all() %}
        {% for fixture in fixtures %}
            <div class="ff fixture-item{% if loop.first %} first{% endif %}">
                {{ fixture.title }}
                {{ fixture.date | date('d M') }}
                {{ fixture.awayTeam.one().title }}
                {{ fixture.homeTeam.one().title }}
                {{ fixture.kickOff | date('H:i', timezone='gmt') }}
            </div>
        {% endfor %}
    </div>


{% endblock %}